body {
  margin:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
  background-color: #508850;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.join {
  position: fixed;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

#prompt {
  color: white;
  font: 15px Courier New, monospace;
}

#name {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form_acc {
  display: none;
}

.form_deny {
  background-color: red;
}

#lobby {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}